* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}

body {
  font-size: 1rem;
  color: black;
}

h1 {
  font-weight: 300;
}

img {
  width: 100%;
}

img:hover, .fa-times:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 1rem;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

.info-box h3 {
  margin-top: 30px;
}

ul li, a{
  padding: .45rem;
}

ul li, h1, h3, a {
  text-transform: uppercase;
}

.container {
  width: 95%;
  padding: 1rem;
  margin: 0 auto;
}

footer {
  margin-top: 40px;

}

.info-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.info-box h3,.info-box img {
  padding-bottom: 1rem;
}

.modal-content, header, footer {
  background-color: #F7E0CD;
}

header, footer {
  padding: 1rem;
  text-align: center;
}

/* MODAL WINDOW */
.bg-modal {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top:0;
  left: 0;
  /* center the popup window
  display: flex;
  justify-content: center;
  align-items: center; */
}

.modal-content {
  width: 50%;
  height: auto;
  padding: 2rem;
  position: relative;
  box-shadow: 10px 6px 50px black;
}

.fa-times {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.45rem;
}

 @media (min-width: 768px){
   .container {
     width: 80%;
     padding-top: 3rem;
   }

   .wrapper {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }

   .info-box {
     width: 45%;
   }
 }

 @media (min-width: 1024px){
   .container {
     max-width: 1024px;
   }

   .info-box {
     width: 30.33%;
   }
 }
