* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}

body {
  font-size: 1rem;
  color: black;
}

h1 {
  font-weight: 300;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 1rem;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

.info-box h3 {
  margin-top: 30px;
}

ul li, a{
  padding: .45rem;
}

ul li, h1, h3, a {
  text-transform: uppercase;
}

.container {
  width: 95%;
  padding: 1rem;
  margin: 0 auto;
}

footer {
  margin-top: 20px;
}

.info-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.info-box h3,.info-box img {
  padding-bottom: 1rem;
}

header, footer {
  padding: 1rem;
  background-color: #F7E0CD;
  text-align: center;
}

/* MODAL WINDOW */
.bg-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top:0;
  left: 0;
}


 @media (min-width: 768px){
   .container {
     width: 80%;
   }

   .wrapper {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }

   .info-box {
     width: 45%;
   }
 }

 @media (min-width: 1024px){
   .container {
     max-width: 1024px;
   }

   .info-box {
     width: 30.33%;
   }
 }
