* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: black;
}

.container {
  
}

header, footer {
  padding: 1rem;
  background-color: #F7E0CD;
  text-align: center;
}
